{% extends "base.html" %}

{% block content %}

<div class="pt-5 conatiner d-flex justify-content-between align-items-center">
    <div class="px-5 content">
        <h1 class="title">Write product <span class="title__blue">index</span></h1>
        <div class="mt-5 input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Index</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
    </div>
    <div class="img">
        <img src="../static/images/robot_extraction.png" alt="">
    </div>
</div>

{% endblock %}